body {
  font-family: Arial;
  font-size: 150%;
  text-align: center;
}

.start {
  text-align: center;
}

.high-scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

#quizfeedback {
  font-style: italic;
  font-size: 120%;
  padding-top: 10px;
  color: gray;
  border-top: 6px solid purple;
}

.time-countdown {
  position: absolute;
  top: 10px;
  right: 10px;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: black;
}

button {
  border: 0;
  cursor: pointer;
  font-size: 100%;
  border-radius: 10px; /*makes the button round */
  padding: 10px 10px; /*top and buttons padding */
  background-color: purple;
  color: white;
  
}

.quiz-section {
  text-align: center;
  max-width: 800px;
  margin: 100px auto 0 auto;

}

#answers {
  text-align: left;
}

button:hover {
  background-color: black;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 150%;
}


li {
  padding: 10px;
  list-style: decimal inside none; /*removes decimals */
}

.quiz-section {
  margin-top: 100px;
}

.hide {
  display: none;
}

